<!DOCTYPE html>

{% extends 'base.html' %}
<html lang="en">

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add two nums</title>
</head>
<body>
    <h1>Heres addition</h1>
    <form action="add" method="POST">
        {% csrf_token %}
        val1: <input type="text" name="num1"><br/><br/>
        val2: <input type="text" name="num2"><br/><br/><br/>
        <input type="submit" value="ADD">
    </form>
</body>
</html>

{% endblock %}