<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body bgcolor="cyan">
    {% csrf_token %}
    <form action=" " method="POST">
        {% csrf_token %}
        Username:  <input type="text" name='username'><br/><br/>
        Password :<input type="password" name='password'><br/><br/>
        <input type="submit" value='LOGIN'>



    </form>
    <div>
        {% for msg in messages %}
        <h3>{{msg}}</h3>
        {% endfor %}
    </div>

</html>